<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.timeline.repository.FollowMapper">
    <insert id="registFollow">
        INSERT INTO FOLLOW(MEMBER_NO, FOLLOW_MEMBER_NO) VALUES(#{memberNo}, #{targetMemberNo})
    </insert>

    <delete id="unFollow">
        DELETE
        FROM FOLLOW
        WHERE MEMBER_NO = #{memberNo}
        AND follow_member_no = #{targetMemberNo};
    </delete>
</mapper>